manifest {
  homePage = 'http://github.com/cbcrg/dpa-analysis'
    description = 'Double Progressive Alignment Analysis'
    mainScript = 'main.nf'
}

process {
    container = 'cbcrg/tcoffee'
} 

//
// Profile Configuration - These setting are location/harware specific and
//                         should not have any effect on the results

//process {
//    executor = 'crg'
//    queue = { task.attempt < 4 ? 'cn-el7' : task.attempt <  7 ? 'long-sl7' : task.attempt <  8 ? 'mem_256' : 'mem_512' }
//    time = '160h'
//    memory = { task.attempt < 4 ? (12.GB * task.attempt) : task.attempt <  7 ? (18.GB * task.attempt) : task.attempt <  8 ? '248.GB' : '496.GB'}
//    errorStrategy = { task.attempt < 8 ? 'retry' : 'finish' } 
//    maxRetries = 7
    //scratch = true  // for docker use
//}


env {
    CACHE_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/cache'
    LOCKDIR_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/lock'
    TMP_4_TCOFFEE='${TMPDIR:-/tmp}/.tcoffee/tmp'
    DUMMY='$(mkdir -p $CACHE_4_TCOFFEE; mkdir -p $LOCKDIR_4_TCOFFEE; mkdir -p $TMP_4_TCOFFEE)'
}


trace { 
    enabled = false 
    raw = true
    fields = 'task_id, hash,native_id,name,status,exit,realtime,%cpu,rss,peak_rss,vmem,peak_vmem,rchar,wchar' 
}